body {
  background-position: 0 0;
  background-size: cover;
  background-image: url(https://t10pgalleryv2.azureedge.net/galleryv2images/53159f42-b57b-4b67-b418-0fe6407f44b8/23547530-48af-4bae-9d06-c31c68b65925/2);
}
main {
  width: 80%;
  margin: 0 auto;
  font-family: 'dongle';
  color: white;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
section > div {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: hidden;
  margin: 10px;
  border-radius: 10px;
}
section > div .titulo {
  background-color: rgba(0, 0, 0, 0.7);
}
section > div .titulo h2 {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 45px;
}
section > div .resultado {
  font-size: 35px;
  display: flex;
  justify-content: center;
}
section > div .resultado > h2 {
  margin: 0 40px;
}
